/* Bootstrap Vars */
/**** HEADER ****/
/**** Title Bar ****/
/**** Footer ****/
/*** HOME INTRO ***/
/** HOME INTRO ABOUT **/
.title-bar {
  background: #abafb5 none;
  color: #fff;
  padding: 10px; }
  .title-bar h2, .title-bar h3, .title-bar h4, .title-bar h5, .title-bar h6 {
    margin: 0;
    padding: 0;
    font-size: 1.5em; }
    .title-bar h2:before, .title-bar h3:before, .title-bar h4:before, .title-bar h5:before, .title-bar h6:before {
      font-size: 3em;
      margin-left: 0; }

.background-secondary {
  background: #ce9b0a;
  color: #fff; }

/* Include sub components for index page */
body {
  margin-top: 150px; }

header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  background: #2c3647 none;
  border: 5px solid #ce9b0a;
  border-width: 0 0 5px 0;
  padding: 0;
  color: #fff;
  min-height: 150px; }
  header nav {
    position: relative;
    min-height: 150px;
    font-size: 21px; }
    header nav:before, header nav:after {
      content: " ";
      display: table; }
    header nav:after {
      clear: both; }
  header .navbar-brand {
    width: 100px;
    height: 75px;
    position: relative; }
    header .navbar-brand img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      margin: auto; }
  header .navbar-nav {
    float: right;
    right: 0;
    margin: 0;
    bottom: 0;
    position: absolute;
    bottom: 0;
    max-width: 65%; }
    header .navbar-nav > li {
      float: left; }
      header .navbar-nav > li a {
        color: #fff;
        background: #2c3647 none; }
        header .navbar-nav > li a:link, header .navbar-nav > li a:visited {
          color: #fff;
          background: #2c3647 none; }
        header .navbar-nav > li a:active, header .navbar-nav > li a:hover {
          background: #fff none;
          color: #2c3647; }
        header .navbar-nav > li a > i {
          margin: 0;
          padding: 0;
          font-size: 20px;
          line-height: inherit; }
      header .navbar-nav > li.active a:link, header .navbar-nav > li.active a:visited {
        background: #fff none;
        color: #2c3647; }

@media (min-width: 768px) {
  header .navbar-brand {
    width: 200px;
    height: 150px; } }

@media (min-width: 1200px) {
  header {
    text-align: center; }
    header .navbar-brand {
      float: none;
      display: block;
      position: absolute;
      margin-left: -100px !important;
      padding: 0;
      left: 50%; }
    header .navbar-nav {
      max-width: 45%; } }

footer {
  font-size: 9px;
  background: #5d5d5d none;
  color: #fff;
  line-height: 9px;
  padding: 20px 20px 10px 20px;
  margin: 1px 0 0 0; }

section.intro .image {
  position: relative;
  z-index: 0;
  max-height: 500px;
  overflow: hidden;
  font-weight: bold;
  border: 5px solid #ce9b0a;
  border-width: 0 0 5px 0; }
  section.intro .image img {
    width: 100%;
    margin-top: -25%; }
  section.intro .image .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    background: rgba(44, 54, 71, 0.5) none;
    color: #fff;
    padding: 15px 0 5px 0;
    font-size: 23px; }
    section.intro .image .caption > .container {
      position: relative; }
      section.intro .image .caption > .container > div:before {
        color: rgba(44, 54, 71, 0.5);
        position: absolute;
        left: 0;
        top: -269.5px;
        font-size: 269.5px;
        margin: 0; }

section.blurb {
  background: #2c3647 none;
  color: #fff;
  font-size: 13.8px;
  padding: 20px 0 60px 0; }
  section.blurb .btn {
    background-color: #565e6c;
    color: inherit;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin-top: 2.25em;
    position: relative;
    font-size: 2em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 0;
    min-width: 76%; }
    section.blurb .btn > i:before {
      position: absolute;
      font-size: 3.25em;
      top: -0.7em;
      left: -0.7em; }
    @media (min-width: 992px) {
      section.blurb .btn > i.aa-icon-map:before {
        left: -0.85em; } }

.col-layout {
  padding-top: 60px;
  padding-bottom: 30px; }
  .col-layout h4, .col-layout h3 {
    margin-top: 0; }
  .col-layout h3 {
    margin-bottom: 30px; }
  .col-layout .callouts img {
    max-height: 5em;
    max-widtH: 100%; }
  .col-layout .callouts > div {
    margin: 30px 0 60px 0;
    positition: relative; }
    .col-layout .callouts > div > h4[class^="aa-icon-"]:before, .col-layout .callouts > div > h4[class*=" aa-icon-"]:before {
      position: absolute;
      font-size: 3em;
      left: -1.5em;
      margin-top: -0.1em; }
      @media (min-width: 768px) {
        .col-layout .callouts > div > h4[class^="aa-icon-"]:before, .col-layout .callouts > div > h4[class*=" aa-icon-"]:before {
          font-size: 6em; } }

/** Index only typography **/
body {
  color: #2c3647; }

p {
  font-size: 1.3em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }
