header#navbar .navbar-header::before {
  background-color: #2c3647;
}

#mainnav-container,
#mainnav {
  background-color: #2c3647;
}

#mainnav-container #mainnav #mainnav-menu a:hover {
  -webkit-box-shadow: inset 4px 0 0 0 #ce9b0a;
  box-shadow: inset 4px 0 0 0 #ce9b0a;
}

#mainnav-container #mainnav #mainnav-menu>.active-sub>a,
#mainnav-container #mainnav #mainnav-menu>.active-sub a:hover,
#mainnav-container #mainnav #mainnav-menu>.active-link>a,
#mainnav-container #mainnav #mainnav-menu>.active-link a:hover {
  background-color: #ce9b0a;
  color: #2c3647;
}


/* V7 tweaks */
.sidenav-sm .sidenav-menu .active-sub>a {
  background-color: #ce9b0a !important;
  color: #2c3647;
}

.sidenav-sm .sidenav-menu li:hover .menu-title {
  color: #fff;
  /* keeps navbar item text white */
}

.sidenav-menu>ul>li>a:hover {
  box-shadow: inset 4px 0 0 0 #ce9b0a;

}

.sidenav {
  color: #2c3647;
}
