{% extends "base-manager.htm" %}
{% load i18n %}
{% load static %}
{% load webpack_static from webpack_loader %}

{% block css %}
    {{ block.super }}
    <link rel="shortcut icon" href="{% webpack_static 'favicon/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'fontello/css/arches-arcade.css' %}" >
    <link rel="stylesheet" href="{% static 'css/layout-tweaks.css' %}" >
    <link rel="stylesheet" href="{% static 'css/accessibility-statement.css' %}" >
{% endblock css %}

{% block navheader %}
<a href="#" class="sidenav-brand" data-bind="onEnterkeyClick, onSpaceClick, click: function () { navExpanded(!navExpanded()) },
    attr: {
        'aria-label': $root.translations.toggleNavigation, 
        'aria-description': $root.translations.toggleNavigationDescription, 
        'aria-expanded': navExpanded().toString()
    }
">
    <img src="{{ STATIC_URL }}favicon/favicon.png" class="brand-icon" alt="">
    <div class="brand-title">
        <h1 class="brand-text" style="margin-top: 15px;">{{ app_name }}</h1>
    </div>
</a>
{% endblock navheader %}