

section.blurb {
  background: $intro-about-background none;
  color: $intro-about-text-color;
  font-size: $intro-caption-font-size * 0.6;
  padding: $line-height-computed 0 ($line-height-computed * 3) 0;
  
  .btn {
    background-color: $brand-primary-compliment;
    color: inherit;
    transition: all .5s;
    margin-top: 2.25em;
    position: relative;
    font-size: 2em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 0;
    min-width: 76%;
    
    > i {
      &:before {
        position: absolute;
        font-size: 3.25em;
        top: -0.7em;
        left: -0.7em;
      }
      @media (min-width: $screen-md-min) {
        &.aa-icon-map:before {
          left: -0.85em;
        }
      }
    }
  }
}