body {
  margin-top: 150px; }
  body > header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background: #2c3647 none;
    border: 5px solid #ce9b0a;
    border-width: 0 0 5px 0;
    padding: 0;
    color: #fff;
    min-height: 75px; }
    body > header nav {
      position: relative;
      min-height: 75px;
      font-size: 14px; }
      body > header nav:before, body > header nav:after {
        display: table;
        content: " "; }
      body > header nav:after {
        clear: both; }
    body > header .navbar-brand {
      margin-left: 37px;
      width: 100px;
      height: 75px;
      position: relative; }
      body > header .navbar-brand img {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto; }
    body > header .navbar-nav {
      float: right;
      right: 0;
      margin: 0 0 0 0;
      bottom: 0;
      position: absolute;
      bottom: 0;
      max-width: 65%; }
      body > header .navbar-nav > li {
        float: left; }
        body > header .navbar-nav > li a {
          color: #fff;
          background: #2c3647 none;
          font-size: 16px;
          line-height: 16px; }
          body > header .navbar-nav > li a:link, body > header .navbar-nav > li a:visited {
            color: #fff;
            background: #2c3647 none; }
          body > header .navbar-nav > li a:active, body > header .navbar-nav > li a:hover {
            background: #fff none;
            color: #2c3647; }
          body > header .navbar-nav > li a > * {
            margin: 0 0 0 0;
            font-size: 15px;
            line-height: 15px; }
        body > header .navbar-nav > li.active a:link, body > header .navbar-nav > li.active a:visited {
          background: #fff none;
          color: #2c3647; }
  body.home-page > header nav {
    position: relative; }
  body.home-page > header .navbar-brand {
    margin-left: 0;
    width: 100px;
    height: 75px; }
  @media (min-width: 768px) {
    body.home-page > header {
      min-height: 150px; }
      body.home-page > header nav {
        min-height: 150px; }
      body.home-page > header .navbar-brand {
        width: 200px;
        height: 150px; } }
  @media (min-width: 1200px) {
    body.home-page > header {
      text-align: center; }
      body.home-page > header .navbar-brand {
        float: none;
        display: block;
        position: absolute;
        margin-left: -100px !important;
        padding: 0;
        left: 50%; }
      body.home-page > header .navbar-nav {
        max-width: 45%; } }
