html {
  overflow: hidden; }

body {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  margin-top: 80px; }

header nav ul.nav {
  width: auto; }

header#navbar {
  top: 80px; }
  header#navbar .navbar-header::before {
    background-color: #2c3647; }

#mainnav-container,
#mainnav {
  background-color: #2c3647; }

#mainnav-container {
  top: 0;
  padding-top: 100px; }
  #mainnav-container #mainnav #mainnav-menu a:hover {
    -webkit-box-shadow: inset 4px 0 0 0 #ce9b0a;
    box-shadow: inset 4px 0 0 0 #ce9b0a; }
  #mainnav-container #mainnav #mainnav-menu > .active-sub > a,
  #mainnav-container #mainnav #mainnav-menu > .active-sub a:hover,
  #mainnav-container #mainnav #mainnav-menu > .active-link > a,
  #mainnav-container #mainnav #mainnav-menu > .active-link a:hover {
    background-color: #ce9b0a;
    color: #2c3647; }

#mainnav-menu-wrap {
  padding: 0; }

.content-panel {
  height: calc(100vh -  130px); }

.search-control-container {
  padding-bottom: 10px; }

.card-form-preview-container {
  overflow-y: auto;
  overflow-x: hidden; }

.map-search-container {
  height: calc(100vh - 190px); }
  .map-search-container.expanded-edit-map {
    top: 130px;
    height: calc(100vh - 130px); }
  .map-search-container .map-search-container div .map-widget-panel {
    height: calc(100vh - 190px); }

.card-form-preview-container .tab-content .tab-pane > div,
.saved-search-grid,
.facets-search-container,
.search-facets {
  height: calc(100vh - 191px) !important;
  overflow-y: auto;
  min-height: 0; }

.widget-wrapper .mapboxgl-map {
  margin-bottom: -20px; }

/* V5 upgrade tweaks */
.settings-panel .settings-panel-heading {
  top: auto; }

.settings-panel > div:nth-child(2) {
  margin-top: 63px; }

#content-container .scroll-y {
  max-height: calc(100vh - 130px);
  overflow-x: hidden; }

#footer {
  display: none; }
