/* Bootstrap Vars */
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "variables";
@import "utils";

/* Include sub components for index page */
@import "components/header";
@import "components/footer";
@import "components/home_intro";
@import "components/home_blurb";
@import "components/home_col_layout";


/** Index only typography **/
body {
  color: $brand-primary;
}

p {
  font-size: 1.3em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}